<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hammerandtongues.online.hntonline">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Include following permission if you want to cache images on SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.github.hathibelagal.pn.permission.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>

    <permission
        android:name="com.github.hathibelagal.pn.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"

            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@layout/searchable"/>
        </activity>
        <activity
            android:name=".Search"
            android:parentActivityName=".MainActivity"

            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@layout/searchable"/>
        </activity>
        <activity
            android:name=".NotificationView"
            android:label="Details of notification"

            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".CategoriesActivity"
            android:parentActivityName=".MainActivity"

            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".StoresFragment"
            android:parentActivityName=".MainActivity"

            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".PromotionsFragment"

            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".Product"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".Store"

            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".Cart"

            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".CheckOut_Activity"

            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".UserActivity"

            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".Products_List"

            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".TransactionHistory"

            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".AboutUs"

            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".Faqs"

            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".ContactUs"

            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".TermsAndConditions"

            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".WebViewActivity"

            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".Favourites"

            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".Chat_Webview"

            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".Finances_Webview"

            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".Invite_friends"

            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <service
            android:name=".LocalService"
            android:exported="false"/>

        <fragment android:name=".Register"/>
        <fragment android:name=".Login"/>

        <receiver android:name=".NetworkStateChecker">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".MyAppReciever">
            <intent-filter>
                <action android:name="android.Intent.ACTION_TIME_TICK"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>

        <!--
              <receiver
                     android:name="com.google.android.gms.gcm.GcmReceiver"
                     android:exported="true"
                     android:permission="com.google.android.c2dm.permission.SEND" >
                     <intent-filter>
                         <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                         <category android:name="com.hammerandtongues.online.hntonline" />
                     </intent-filter>
                 </receiver>

                 <service
                     android:name=".TokenRefreshListenerService"
                     android:exported="false">
                     <intent-filter>
                         <action android:name="com.google.android.gms.iid.InstanceID" />
                     </intent-filter>
                 </service>

                 <service
                     android:name=".NotificationsListenerService"
                     android:exported="false" >
                     <intent-filter>
                         <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                     </intent-filter>
                 </service>
        -->

        <activity

            android:parentActivityName=".MainActivity"
            android:name=".Registration">
        </activity>
        <activity

            android:parentActivityName=".MainActivity"
            android:name=".Finances">
        </activity>
    </application>

</manifest>